vep-benchmark/data/golden/**/*.fa filter=lfs diff=lfs merge=lfs -text
vep-benchmark/data/golden/**/*.parquet filter=lfs diff=lfs merge=lfs -text
vep-benchmark/data/golden/**/*.vcf filter=lfs diff=lfs merge=lfs -text
